.white-text {
  color: white;
}
a {
  display: inline-block;
}
.invisHover > p {
  opacity: 0;
  transition: opacity 0.2s;
}
.invisHover > img {
  transition: transform 0.2s;
}
.invisHover:hover > img {
  transform: scale(1.25);
}
.invisHover:hover > p {
  visibility: visible;
  opacity: 100;
}
